@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor01: #1EDBEC;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1EDBEC;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #1EDBEC;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 10px;
}

.header > img {
    max-width: 150px;
}
ul {
    list-style: none;
}

.navbar.active {
    display: block; /* Mostra o menu */
    position: absolute; /* Define a posição do menu */
    top: 100%; /* Ajusta a posição vertical conforme necessário */
    left: 0; /* Ajusta a posição horizontal conforme necessário */
    background-color: #0b174a; /* Cor de fundo do menu ativo */
    z-index: 1; /* Ajusta a ordem de empilhamento para estar acima de outros elementos, se necessário */
    /* Outros estilos, como margens, preenchimento, cores de texto, etc. */
}
.navbar.active .navbar-menu {
    display: flex; /* Alinha os itens do menu horizontalmente */
    flex-direction: column; /* Organiza os itens do menu em coluna */
    
}
.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.navbar-menu {
    display: block;
    margin: 0px 250px;
    text-decoration: none;
    background-color: #0b174a;
    color: white;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: #1EDBEC;
}


/* Media Query para telas maiores */
@media screen and (min-width: 769px) {
    .menu-icon {
        display: none;
    }

    .navbar {
        display: flex;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .navbar-menu li {
        margin: 0 15px;
    }

    .navbar-menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .navbar-menu a:hover {
        color: #0b174a;
    }
}
